* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 8px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 20rem;
}

.comment h2,
p {
    text-align: center;
    word-wrap: break-word;

}

.nav-container {
    background-color: cadetblue;
    border-radius: 25px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.left-side,
.right-side {
    list-style: none;
}

.left-side li,
.right-side li {
    display: inline-block;
}

.left-side li a,
.right-side li a {
    display: block;
    text-decoration: none;
    color: green;
    width: 100%;
    height: 100%;
    padding: 10px 16px;
}

#blue {
    color: blue;
}

.left-side li a:hover,
.right-side li a:hover {
    background-color: aliceblue;
    border-radius: 12px;
}

.img-p {
    display: flex;

}

#yellow {
    margin: 5px 40px;
    color: rgb(133, 100, 15);
}

@media screen and (max-width: 1024px) {
    .container {
        display: flex;
        width: 35rem;
        margin: 0 5rem;
    }

    .container .centered {
        font-weight: small;
    }
}

.container {
    position: relative;
    text-align: center;
    color: crimson;
    display: flex;
    justify-content: center;

}

.container img {
    margin: 10px 20px;
    width: 80%;
}

.container .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    height: 700px;
    background-color: yellow;
    margin-right: -20rem;
}

#center-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: -6rem;
}

.overlapping-img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 6rem;
    left: -25rem;

}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


#video,
#video2 {
    width: 700px;
    height: 415px;
    border: none;
}

.green-box:not(:last-child) {
    width: 700px;
    height: 800px;
    background-color: aquamarine;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.green-box #first,
#second {
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin-left: -20px;
    margin-top: 40px;
}

#overflow-img {
    position: absolute;
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-left: 70rem;
}

.purple-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-div {
    background-color: rgb(131, 18, 237);
    width: 60rem;
    height: 40rem;
    position: relative;
}

.purple-div .left {
    position: absolute;
    left: -100px;
    width: 400px;
    height: 300px;
    top: 25%;
    object-fit: cover;
}

.purple-div .right {
    position: absolute;
    right: -120px;
    width: 400px;
    height: 400px;
    top: 15%;
    object-fit: cover;
}

.last-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.blue-div {
    background-color: deepskyblue;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blue-div p {
    margin: 0 40px;
}

.blue-div a {
    text-decoration: none;
    color: blue;
}

.last-container img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    margin-right: -4px;
}

.footer {
    border-top: 10px solid rgb(128, 41, 41);
    background-color: cadetblue;
}

.footer-container {
    max-width: 90%;
    background-color: aliceblue;
    margin: auto;
}

h3 {
    font-size: xx-large;
    margin-left: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-list {
    width: 25%;
    padding: 0 15px;
}

.footer-list ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-list ul li a {
    text-decoration: none;
    color: green;
    text-transform: capitalize;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-list ul li a:hover {
    color: green;
    padding-left: 8px;
}

ul {
    list-style: none;
}

.social-media {
    display: flex;
}

.social-media i {
    margin-right: -3px;
    font-size: 1.75rem;
}

i:nth-child(2) {
    color: rgb(135, 191, 250);
}

i:nth-child(3) {
    color: red;
}

i:nth-child(1) {
    color: rgba(12, 12, 207, 0.701);
}

i:nth-child(4) {
    color: orange;
}

.wrapper {
    display: flex;
    padding: 1px solid grey;
}

.wrapper input,
.wrapper button {
    margin-right: -5px;
}

button {
    background-color: blue;
    color: white;
}

.dropdowns {
    display: flex;
}

.dropdowns select {
    margin-right: -5px;
}